<p>Ask your coach anything:</p>
<div class="d-flex justify-content-center">
  <form class="flex-grow-1" action="/answer" data-turbo="false">
    <div class="input-group mb-3">
      <input class="form-control" type="text" name="question" placeholder="gnegnegne...">
      <button class="btn btn-primary" type="submit">Ask!</button>
    </div>
  </form>
</div>
